@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (!User.Identity.IsAuthenticated) {
        <a href="/Identity/Account/Login">
            <button type="button">Log in</button>
        </a>
    }
    @if (User.Identity.IsAuthenticated) {
        <p> You are logged in! </p>
        //TODO: Insert buttons for Patients in here after shit works again
    }
    <a href="/User/UserProfile/381946">
        <button type="button">Kasper</button>
    </a>
    <a href="/User/UserProfile/381947">
        <button type="button">Smajo</button>
    </a> 
</div>

<div class = "Patient Lookup">

</div>
